/* This file will hold styles that are loaded using the same media query as the normal grid. */

.page {
  background: transparent url(../img/bg/bg_body_960.png) no-repeat center top;
}

#region-action-search,
#region-action-user {
    width: 470px;
}

#region-action-user {
    margin-left: 0px;
}

#region-action-search {
    margin-right: 0px;
}


/* ***** CAROUSEL ***** */

.ting-search-carousel .rs-carousel {
    width: 345px;
    margin-left: 36px;
}


/* ***** BLOCK-USER-LOGIN ***** */

#user-login-form {
}

#block-user-login .bibdk-provider-form-inputs {
  width: 340px
}

#block-user-login .lead-text {
  width: 70px;
}

#block-user-login .bibdk-provider-form-inputs .form-item {
  width: 160px;
}

#block-user-login .form-actions {
  width: 70px;
}


/* ***** BLOCK-SEARCH-FORM ***** */

#block-search-form .form-item.form-type-textfield {
  width: 380px;
}

#block-search-form #edit-actions {
  width: 90px;
}

