/* This file will hold styles that are loaded using the same media query as the narrow grid. */

#wrap-right {
  background: none;
}

#wrap-left {
  margin-left: 0;
  padding-right: 0;
  background: none;
}

.page {
  background: transparent url(../img/bg/bg_body_720.png) no-repeat center top;
}


/* ***** BLOCK-USER-LOGIN ***** */

#block-user-login .lead-text {
  width: 70px;
}

#block-user-login .bibdk-provider-form-inputs .form-item {
  width: 250px;
}

#block-user-login .form-actions {
  width: 65px;
}

.block-ding-username {
  padding-left: 1em;
}


/* ***** BLOCK-SEARCH-FORM ***** */

#region-action-search, #region-action-user {
    width: 700px;
    margin-left: 10px;
    margin-right: 10px;
}

#block-search-form .form-item.form-type-textfield {
  width: 610px;
}

#block-search-form #edit-actions {
  width: 90px;
}


/* *** CAMPAIGN *** */

.pane-campaign {
    display: block;
}


/* *** CAROUSEL *** */

.ting-search-carousel .rs-carousel {
    width: 230px;
    margin-left: 45px;
}

