/* This file will hold the main styles for your website. */


/* ********** BASIC STYLES ********** */

body, select, input, textarea, label {
    font-family: arial,helvetica,sans-serif;
    font-size: 100%;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: arial,helvetica,sans-serif;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li a:link, a:link,
li a:visited, a:visited,
li a:hover, a:hover,
li a:active, a:active {
    /* color: #E94927; */
}

/*
input.form-submit {
    border-width: 0;
    font-size: 1em;
    font-weight: bold;
    height: 1.6em;
    line-height: 1.6em;
    padding: 0 0.5em;
}
*/


/* BACKGROUNDS */

#wrap-right {
    background: transparent url(../img/bg/bg_body_right.png) no-repeat right top;
}

#wrap-left {
    padding-left: 20px;
    margin-right: 20px;
    background: transparent url(../img/bg/bg_body_left.png) no-repeat left top;
}


/* ********** REGION-HELP ********** */

/* ***** LANGUAGE SWITCHER BLOCK ***** */

#block-locale-language {
    text-align: right;
    float: left;
}

#block-locale-language ul {
  list-style: none outside none;
  margin-right: 0.5em;
}

#block-locale-language li {
  display: block;
  float: right;
  margin-right: 0.5em;
}


/* ********** REGION-MENU ********** */

#region-menu .links ul {
    list-style: none;
}

#region-menu ul li {
    display: inline-block;
    margin-left: 0.5em;
}

#region-menu ul li.first {
}

#region-menu ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0;
}



/* ********** REGION-ACTION-SEARCH ********** */

#block-search-form .form-item {
    margin: 0;
}

#block-search-form .form-item.form-type-textfield {
    float: left;
    width: 70%;
}

#block-search-form #edit-actions {
    margin: 0;
    float: left;
    text-align: right;
    width: 30%;
    min-width: 4.5em;
}

#block-search-form .form-item.form-type-textfield input {
    width: 100%;
    /* border: 1px solid black; */
}



/* ********** REGION-ACTION-USER ********** */

/* ***** BLOCK-USER-LOGIN ***** */

/* pjo:temp */
#block-user-login #edit-name--2 {
    display:none;
}

/* ** forgot password ** */
#block-user-login .bibdk-provider-form-links {
    clear: both;
}
#block-user-login .bibdk-provider-form-links a {
    display:block;
}

#block-user-login input[type="submit"] {
}

#block-user-login .bibdk-provider-form-inputs {
    margin:0;
    padding:0;
    float: left;
}

#block-user-login .bibdk-provider-form-inputs .form-item {
    margin: 0;
    padding: 0.5em 0.5em 0.25em 0;
    float: left;
}

#block-user-login .form-actions {
    margin: 0;
    padding: 0.5em 0em 0.25em 0;
    float: left;
}


#block-user-login span {
    display : block;
    float: left;
}

#block-user-login .lead-text {
    display: none; /* displayed on narrow and up */
}

#block-user-login form label {
    display : none;
}

#block-user-login form div.form-item-persistent-login label {
    display : inline;
}

#block-user-login form div.form-item-persistent-login {
    margin: 0em;
}



/* ***** BLOCK-USER-MENU ***** */

.block-user-menu .links ul {
    list-style: none;
}

.block-user-menu ul li {
    display: inline-block;
    padding: 0 0.5em;
}

.block-ding-username {
    width: 55%;
    float: left;
}

.block-ding-username #ding-user-icon {
    float: left;
    text-align: right;
    width: 23px;
}

.block-ding-username #ding-user-icon .content {
    background-image: url("../img/icons/icon_person_23x23_white_on_transparent.png");
    float: right;
    height: 23px;
    margin-top: 0.5em;
    width: 23px;
}

.block-ding-username #ding-user-name {
    float: left;
    height: 1.35em;
    max-height: 1.35em;
    overflow: hidden;
    padding: 0.6em 0 0.25em 0.5em;
}

.block-ding-username #ding-user-name .content {
    font-weight: bold;
    padding: 0 1em 0 0;
}

#ding-user-loan-amount,
#ding-user-reservation-amount,
#ding-user-debt-amount,
#ding-user-bookmark-amount {
    float: left;
    padding: 0 0.5em 0 0;
}

#ding-user-loan-amount .content,
#ding-user-reservation-amount .content,
#ding-user-debt-amount .content {
    border-right: 2px solid;
    padding-right: 0.5em;
}


/* ********** SECONDARY MENU ********** */

.page-user ul.primary {
    border-width: 0;
    font-size: 0.8em;
    margin: 0;
    padding-left: 0;
    white-space: normal;
}

.page-user ul.primary li {
    border-width: 0;
    display: block;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    width: 100%;
}

.page-user ul.primary li.first a.active {
    border-bottom: 1px solid #999999;
    margin-right: 0;
}

.page-user ul.primary li a.active {
    background-color: #ccc;
    color: #fff;
}

.page-user ul.primary li a {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ccc;
    border-width: 0 0 1px;
    color: #000;
    display: block;
    margin-right: 0;
    padding: 0.5em 1em;
}

.page-user ul.primary li.first a {
    border-top: 1px solid #ccc;
}

/* ***** BREADCRUMBS ***** */

#breadcrumb {
    margin: 1em 1em 0;
}

#breadcrumb .title {
    font-size: 1em;
    float: left;
    font-weight: normal;
    line-height: inherit;
    margin-right: 0.5em;
    padding: 0;
    width: auto;
}

#breadcrumb .trail {
    float: left;
}

#breadcrumb .trail a {
    /* color: #383636; */
}


/* ***** TING-SEARCH-CAROUSEL ***** */

.ting-search-carousel {
    display: none;
}

.ting-search-carousel .subtitle {
    display: none;
}


/* ********** TING-SEARCH-SORT-FORM, TING-SEARCH-RECORDS-PER-PAGE ********** */

.pane-ting-search-sort-form, .pane-ting-search-records-per-page {
    display: block;
    float: left;
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 0.5em;
}


/* ***** TING-SEARCH-SORT-FORM ***** */

#ting-search-sort-form label {
    display: inline;
}

#ting-search-sort-form div.form-item-sort {
    display: inline;
    padding: 0;
}

#ting-search-sort-form .description {
    display: none;
}

/* ***** TING-SEARCH-RECORDS-PER-PAGE ***** */

.pane-ting-search-records-per-page {
    margin-left: 1em;
}

#ting-search-records-per-page {
    font-weight: bold;
}

#ting-search-records-per-page a.selected {
    text-decoration: underline;
}

#ting-search-records-per-page a {
    margin: 0 0.25em;
}

